/*1era part */
#contain_wrapper
{
    margin:auto;/*para que se ensanche toda la web*/
    width: 900px;
}

header
{
    background-color: red
}

header img
{
    width: 60px;;
    height: 50px;
}

#tituloprincipal
{
    display: inline-block;
    background-color: yellowgreen;
}

header h1
{
    font-family: serif;
    font-size: 2.5em;
    font-weight: normal;
}

header h2
{
    font-family: verdana;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

header img, header h1, header p
{
    display: inline-block;
    margin-bottom: 5px;
}

nav
{
    display: inline-block;
    width: 540px;
    text-align: right;
    background-color: orange;
}

nav ul
{
    list-style-type:none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
    border-top: 3px solid #760001;
    border-left:3px solid #760001;
    border-right:3px solid #760001;

}

#banner_image
{
    background: url(../imatges/sanfrancisco.jpg);
    height: 220px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 5px 14px 10px rgb(107, 11, 11);
    position: relative;
}

#banner_description
{
    position: absolute;
    border-radius: 0px 0px 5px 5px;
    bottom: 1px;
    width:99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgb(24,24,24);
    background-color: rgba(24,24,24,0.4);
}

.red_button
{
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('images/red_background.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
    background-color: #760001;
}
/* part 4*/

article, aside
{
  text-align: justify;
  vertical-align: top;
  display: inline-block;

}

article
{
    width: 625px;
    margin-right: 8px;
}

.ico_categorie
{
    margin-right: 8px;
    vertical-align: middle;
} 


article p
{
    font-size: 0.8em;
}


aside
{
    width: 235px;
    background-color: gray;
    box-shadow: 0px 2px 5px gray;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 0.9em;
}

aside h1
{
    display: inline-block;
}

#arrow
{
    top:25px;
    left:250px;
}

#zozor_picture
{
    text-align: center;
}

aside img /*separo les imatges entre si*/
{
    margin-right: 5px;
}

#tweet, my_pictures, my_friends
{
    vertical-align: top;
    display: inline-block;
} 
#tweet
{
    width: 28%;
}
#my_pictures
{
    width: 35%;
}
#my_friends
{
    width: 31%;
}
#my_pictures
{
    border: 1px solid black;
    margin-right: 2px;
}
#my_friends

{
    vertical-align: top;
    display: inline-block;
    margin-top: 0px;
    width: 48%;
    padding-right: 2px;
    
}