h1
{
    text-align: center;
    text-decoration: underline;
}
table,th,td
{
    border: 1px solid black;
}
img 
{
    text-align: center;
}
td
{
    text-align: center;
}
#thechainsmokers
{
    font-family: 'Gloria Hallelujah', cursive;
}
#illenium
{
    font-family: 'Luckiest Guy', cursive;
}