h1
{
    text-align: center;
    text-decoration: underline;
}
table,th,td
{
    border: 1px solid black;
}
img 
{
    text-align: center;
}
td
{
    text-align: center;
}
#thechainsmokers
{
    font-family: 'Gloria Hallelujah', cursive;
}
#illenium
{
    font-family: 'Luckiest Guy', cursive;
}
#kygo
{
    font-family: 'Pacifico', cursive;
}
#gryffin
{
    font-family: 'Lobster', cursive;
}
.color1
{
    background-color: aquamarine;
}
.color2
{
    background-color: orange;
}
.color3
{
    background-color: greenyellow;
}
.color4
{
    background-color: plum;
}