html
{
    width: 100%;
    height: 100%;
}
#principal
{
    text-align: center;
    background-color: lightsalmon;
}
h1
{
    font-family: 'Gochi Hand';
    font-size: 7em;

}
@font-face
{
    font-family: 'Gochi Hand';   
}

body
{
  
    background-color: rgba(255, 0, 0, 0.26);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
    
    
}
   
#segunda
{
    border: 1px solid black;
    
}
#dani
{
    margin-left:-1500px;
    margin-top: -150px;
}

#twitter
{
    float: left;
    margin-left: 30px;
}
#facebook
{
    margin-left: 30px;
    float: left;
}
#vimeo
{
    margin-left: 30px;
    float: left;
}
h1
{
    text-align: center;
}
#central
{
    width:1100px;
    height: 1000px;
    background-color:  rgba(128, 94, 0, 0.226);
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border: 1px solid black;
    
}
h3
{
    font-size: 2em;
    font-family:'Permanent Marker', cursive; 
    margin-left:20px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;

}
h2
{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
h4
{
    font-family: 'Handlee', cursive;
    font-size: 1.3em;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.carousel-item
{
    width: 1100px;
    height: 500px;
    text-align: center;
}
.mdno
{
    height: 300px;
    width: 300px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  
}
.sickboy
{
    height: 300px;
    width: 300px;
    border-radius: 30px;   
    position: absolute;
    margin-top: 350px;
    margin-left: -320px;

}
.wwj
{
    height: 300px;
    width: 300px;
    border-radius: 30px;
    position: absolute;
    margin-top: 680px;
    margin-left: -320px;

}
.texto1
{
    height: 240px;
    width: 600px;
    background-color:  rgba(7, 12, 17, 0.733);
    border: 1px solid black;
    position: absolute;
    margin-left: 400px;
    margin-top: -280px;
    text-align: justify;
}
h5
{
    font-family: 'Handlee', cursive;
    font-size: 1.3em;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
}
.texto2
{
    height: 240px;
    width: 600px;
    background-color:  rgba(7, 12, 17, 0.733);
    border: 1px solid black;
    position: absolute;
    margin-left: 400px;
    margin-top: 50px;
    text-align: justify;
}
.texto3
{
    height: 260px;
    width: 600px;
    background-color:  rgba(7, 12, 17, 0.733);
    border: 1px solid black;
    position: absolute;
    margin-left: 400px;
    margin-top: 380px;
    text-align: justify;
}
h6
{
    font-size: 2em;
    font-family:'Permanent Marker', cursive; 
    margin-left:20px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-decoration: underline;
}
#central2
{
    width:1100px;
    height: 2700px;
    background-color:  rgba(128, 94, 0, 0.226);
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border: 1px solid black;
}
td
{
    height: 300px;
    width: 300px;
}
table
{
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
    text-align: center;
    font-size: 2em;
    font-weight: bold; 
    font-family:'Permanent Marker', cursive; 
    background-color: pink;
}
#central3
{
    width:1100px;
    height: 4000px;
    background-color:  rgba(128, 94, 0, 0.226);
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border: 1px solid black;
}